<div class="fundo">
    <div class="tela">
        <div class="login">
            <p>LOGIN</p>
        </div>

        <div class="main">
            <div class="inputs">
                <div class="div-inputs">
                    <img src="./assets/account.png" style="width: 20px;height: 20px; ">


                    <input [(ngModel)]='user' type="text" placeholder="Usuário">
                </div>
            </div>

            <div class="inputs">
                <div class="div-inputs">
                    <img src="./assets/cadeado.png" style="width: 20px;height: 20px; ">

                    <input [(ngModel)]='password' type="password" placeholder="Senha">
                </div>
            </div>

            <div class="buttons">
                <button (click)="login()">LOGIN</button>
            </div>

            <div class="buttons">
                <button (click)="socialSignIn('google')">LOGIN COM O GOOGLE</button>
            </div>

            <div class="buttons">
                <button (click)='voltarHome()'>VOLTAR</button>
            </div>
        </div>
    </div>
</div>