<head>
    <link href="http://fonts.cdnfonts.com/css/graffiti-font" rel="stylesheet">
</head>

<main>
    <div class="divConteudo">
        <div class="titulo">
            Cadastro
        </div>
        <div class="container">
            <div class="inputCliente">
                <input type="text" placeholder="Nome">
                <input type="text" placeholder="E-mail">
                <input type="text" placeholder="User">
                <input type="text" placeholder="Senha">
            </div>

            <div class="inputEndereco">
                <input type="text" placeholder="CEP">
                <input type="text" placeholder="Estado">
                <input type="text" placeholder="Cidade">
                <input type="text" placeholder="Bairro">
                <input type="text" placeholder="Rua">
                <input type="text" placeholder="Número">
            </div>
        </div>
        <button (click)="voltarHome()">CADASTRAR</button>
        <button (click)="voltarLogin()">VOLTAR</button>
    </div>
    <footer>
        <div class="container1">
            <div class="titulo">bam</div>
            <div class="icons">
                <img src="./assets/facebook.png" style="height: 40px; width: 40px;">
                <img src="./assets/instagram.png" style="height: 40px; width: 40px;">
                <img src="./assets/twitter.png" style="height: 40px; width: 40px;">
            </div>
        </div>
        <div class="container2">
            <p>@ 2022 Copyright - Bruna Mafra</p>
        </div>
    </footer>
</main>