<head>
    <link href="http://fonts.cdnfonts.com/css/graffiti-font" rel="stylesheet">
</head>

<body>
    <header>
        <div class="titulo">BAM </div>
        <div class="botoes">
            <div>
                <button (click)='voltarHome()'>VOLTAR</button>
            </div>
            <div>
                <button (click)='login()'>LOGIN</button>
            </div>
        </div>
    </header>
    <main>
        <div class="botoesPaginas">
            <button><img src="./assets/lg.png" style="height: 40px; width: 40px;"></button>
            <button><img src="./assets/maca.png" style="height: 40px; width: 40px;"></button>
            <button><img src="./assets/motorola.png" style="height: 40px; width: 40px;"></button>
            <button><img src="./assets/samsung.png" style="height: 40px; width: 40px;"></button>
            <button><img src="./assets/xiaomi.png" style="height: 40px; width: 40px;"></button>
        </div>
    </main>
    <footer>
        <div class="container1">
            <div class="titulo">bam</div>
            <div class="icons">
                <img src="./assets/facebook.png" style="height: 40px; width: 40px;">
                <img src="./assets/instagram.png" style="height: 40px; width: 40px;">
                <img src="./assets/twitter.png" style="height: 40px; width: 40px;">
            </div>
        </div>
        <div class="container2">
            <p>@ 2022 Copyright - Bruna Mafra</p>
        </div>
    </footer>
</body>