<head>
    <link href="http://fonts.cdnfonts.com/css/graffiti-font" rel="stylesheet">
</head>

<body>
    <header>
        <div class="logo">
            <img src="./assets/logo.png" style="height: 230px; width: 250px;">
        </div>

        <div class="pag">carrinho</div>

        <div class="filtro">
            <input type="text" placeholder="Pesquise aqui!">
        </div>

        <div class="botoes">
            <div>
                <button (click)='voltarHome()'><img src="./assets/voltar.png" style="width: 20px;"></button>
            </div>

            <div>
                <button (click)='login()'>LOGIN</button>
            </div>
        </div>
    </header>

    <main>
        <div class="produtos">
            <div *ngFor="let teste of lista ; let i = index" class="produto">
                <div class="imagem">
                    <img src="{{teste.imagem}}" style="width: 100%; height: 100%;">
                </div>

                <div class="infos">
                    <h3> {{teste.nome}} </h3>
                    <p>R$ {{teste.preco}}</p>
                </div>

                <div class="icone">
                    <img src="assets/cancelar.png" style="width: 50%" (click)="removerCarrinho(teste.id)">
                </div>
            </div>
        </div>

        <div class="informacoesProduto">
            <p class="resumo">Resumo do pedido: </p>

            <div *ngFor="let teste of lista;" class="infosProduto">
                R$ {{teste.preco}}
            </div>

            <p class="frete"> Valor frete: R$ 20,00 </p>

            <p class="resumo"> Valor total: R$</p>

            <button (click)="modal()">COMPRAR</button>
        </div>

    </main>

    <footer>
        <div class="container1 ">
            <div class="titulo ">bam</div>

            <div class="icons ">
                <img src="./assets/facebook.png " style="height: 40px; width: 40px; ">
                <img src="./assets/instagram.png " style="height: 40px; width: 40px; ">
                <img src="./assets/twitter.png " style="height: 40px; width: 40px; ">
            </div>
        </div>

        <div class="container2 ">
            <p>@ 2022 Copyright - Bruna Mafra</p>
        </div>
    </footer>
</body>